<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</th:block>
<body>
<th:block layout:fragment="header">
    <div th:insert="~{fragments/loginHeader::header}"></div>
</th:block>
<!--<th:block layout:fragment="svg">-->
<!--    <div th:insert="~{svg/dashboamemberPostvg::svg}"></div>-->
<!--</th:block>-->
<th:block layout:fragment="content">
    <div class="container-fluid py-4">
        <div class="row mb-4">
            <div class="col-12 col-md-8 offset-md-2"> <!-- 콘텐츠 사이즈 조절 및 중앙 정렬 -->
                <h1 class="display-4 text-primary mb-5">전국 유가 평균</h1> <!-- 제목 아래 마진 추가 -->

                <div class="mb-5"> <!-- 필터 옵션과 차트 사이 간격 증가 -->
                    <div class="mb-4"> <!-- 카드 아래 마진 추가로 간격 조정 -->
                        <div class="card-body">
                            <h5 class="card-title">필터 옵션</h5>
                            <div class="row g-3 align-items-center">
                                <label for="areaCode" class="col-form-label">지역 선택:</label>
                            </div>
                            <div class="col-auto">
                                <select id="areaCode" class="form-select">
                                    <option value="01" selected>서울</option>
                                    <option value="02">경기</option>
                                    <option value="03">강원</option>
                                    <option value="04">충북</option>
                                    <option value="05">충남</option>
                                    <option value="06">전북</option>
                                    <option value="07">전남</option>
                                    <option value="08">경북</option>
                                    <option value="09">경남</option>
                                    <option value="10">부산</option>
                                    <option value="11">제주</option>
                                    <option value="14">대구</option>
                                    <option value="15">인천</option>
                                    <option value="16">광주</option>
                                    <option value="17">대전</option>
                                    <option value="18">울산</option>
                                    <option value="19">세종</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="productCode" id="productB034"
                                           value="B034"
                                           checked>
                                    <label class="form-check-label" for="productB034">고급 휘발유</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="productCode" id="productB027"
                                           value="B027">
                                    <label class="form-check-label" for="productB027">휘발유</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="productCode" id="productD047"
                                           value="D047">
                                    <label class="form-check-label" for="productD047">경유</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="productCode" id="productK015"
                                           value="K015">
                                    <label class="form-check-label" for="productK015">LPG</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button onclick="updateData()" class="btn btn-primary">데이터 업데이트</button>
                            </div>
                        </div>

                        <!-- 차트 캔버스 -->
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-1"> <!-- 차트의 너비를 조절하고 중앙에 위치하도록 조정 -->
                                <div class="card shadow">
                                    <div class="card-body">
                                        <canvas id="myChart"></canvas>
                                        <!-- width와 height 속성을 제거하고 CSS 또는 부트스트랩 클래스로 조절 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"
            integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/dashboard.js}"></script>
</th:block>
</body>
</html>
