<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</th:block>
<body>
<th:block layout:fragment="header">
    <div th:insert="~{fragments/loginHeader::header}"></div>
</th:block>
<!--<th:block layout:fragment="svg">-->
<!--    <div th:insert="~{svg/dashboamemberPostvg::svg}"></div>-->
<!--</th:block>-->
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
                <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
                     aria-labelledby="sidebarMenuLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                data-bs-target="#sidebarMenu"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                        <ul class="nav flex-column">
                        </ul>
                    </div>
                </div>
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">전국 유가 평균</h1>
                </div>

                <div class="row g-3 align-items-center mb-4">
                    <div class="col-auto">
                        <label for="areaCode" class="col-form-label">지역 선택:</label>
                    </div>
                    <div class="col-auto">
                        <select id="areaCode" class="form-select">
                            <option value="01" selected>서울</option>
                            <option value="02">경기</option>
                            <option value="03">강원</option>
                            <option value="04">충북</option>
                            <option value="05">충남</option>
                            <option value="06">전북</option>
                            <option value="07">전남</option>
                            <option value="08">경북</option>
                            <option value="09">경남</option>
                            <option value="10">부산</option>
                            <option value="11">제주</option>
                            <option value="14">대구</option>
                            <option value="15">인천</option>
                            <option value="16">광주</option>
                            <option value="17">대전</option>
                            <option value="18">울산</option>
                            <option value="19">세종</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="subAreaCode" class="col-form-label">세부 지역 선택:</label>
                    </div>
                    <div class="col-auto">
                        <select id="subAreaCode" class="form-select">
                            <!-- 세부 지역 옵션은 JavaScript를 통해 동적으로 생성됩니다 -->
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="productCode" class="col-form-label">기름 종류:</label>
                    </div>
                    <div class="col-auto">
                        <select id="productCode" class="form-select">
                            <option value="B027" selected>휘발유</option>
                            <option value="D047">경유</option>
                            <option value="B034">고급휘발유</option>
                            <option value="K015">LPG</option>
                        </select>
                    </div>
                    <div class="col-auto"> <!-- 버튼 위치 조정 및 상단 여백 추가 -->
                        <button onclick="updateData()" class="btn btn-primary">데이터 업데이트</button>
                    </div>
                </div>

                <!-- 차트 캔버스 -->
                <div class="row mt-3">
                    <div class="col-12 col-lg-10 offset-lg-1"> <!-- 차트의 너비를 조절하고 중앙에 위치하도록 조정 -->
                        <div class="card shadow">
                            <div class="card-body">
                                <canvas id="myChart"></canvas>
                                <!-- width와 height 속성을 제거하고 CSS 또는 부트스트랩 클래스로 조절 -->
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"
            integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
            crossorigin="anonymous"></script>
    <script th:src="@{/assets/js/subAreas.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
</th:block>
</body>
</html>
