<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <style>
        body{
            justify-content: center;
        }
    </style>
</head>
<body class="index">
    <div class="login-container">
        <div>OilNow</div>
        <form th:action="@{/v1/login}" method="post">
            <div class="form-group">
                <label for="username">Id</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>